{% extends 'FrontBundle::base.html.twig' %}

{% block title %}{{ 'back.tournament_index.title'|trans() }}{% endblock %}

{% block body %}
    <div class="container" id="backIndexPage">
        <h1>{{ 'back.tournament_index.h1'|trans() }}</h1>


    </div>
{% endblock %}