{% extends 'FrontBundle::base.html.twig' %}

{% block title %}{{ 'back.tournament.index.title'|trans() }}{% endblock %}

{% block body %}
    <div class="container" id="backTournamentIndexPage">
        <h1>{{ 'back.tournament.index.h1'|trans() }}</h1>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournaments %}
                <tr>
                    <td>
                        {{ tournament.id.value }}
                    </td>
                    <td>
                        {{ tournament.name.value }}
                    </td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}