@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);

$baseColor: #333333;
$altColor: #B9D15E;

$altFontFamily: 'Gochi Hand', cursive;

body {
  padding-top: 50px;
  color: $baseColor;

  /* Default tags */
  h1 {
    font-family: $altFontFamily;

    span {
      color: $altColor;
    }
  }

  p {
    margin: 10px 0;
  }

  /* Top level classes */
  .navbar {
    .navbar-brand {
      font-size: 2em;
      font-family: $altFontFamily;
    }

    span {
      color: $altColor;
    }
  }

  /* Pages specifics */
  #loginPage {
    max-width:  400px;
    padding: 15px;
    margin: 25px auto 0 auto;
  }
}