{% extends 'FrontBundle::base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ 'front.home.title'|trans()|raw }}</h1>
        <p>{{ 'front.home.description'|trans() }}</p>
    </div>
</div>
{% endblock %}